click==7.1.1
configparser==5.0.0
elasticsearch==7.6.0
flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
neo4j==1.7.6
neobolt==1.7.17
neotime==1.7.4
pytz==2019.3
six==1.14.0
urllib3==1.25.9
Werkzeug==1.0.1